@model CBlokHerkansing.ViewModels.Account.BeheerderViewModel

@{
    ViewBag.Title = "Beheer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="centered-pills">
    <h2>Beheer</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Producten</a></li>
        <li><a data-toggle="tab" href="#menu1">Aanbiedingen</a></li>
        <li><a data-toggle="tab" href="#menu2">Gebruikers</a></li>
        <li><a data-toggle="tab" href="#menu3">Bestellingen</a></li>
    </ul>

    <div class="tab-content" style="max-width: 75%; margin: 0 auto;">
        <div id="home" class="tab-pane fade in active">
            <h3>Producten</h3>
            @if (Model != null)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th> <!-- TODO: Belangrijk voor beheerder? -->
                            <th>Naam</th>
                            <th>Omschrijving</th>
                            <th>Categorie</th> <!-- TODO: Categorie NAAM niet ID-->
                            <th>Functies</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.productBaseOverzicht.Count; i++)
                        {
                            <tr>
                                <td>@Model.productBaseOverzicht[i].ProductId</td>
                                <td>@Model.productBaseOverzicht[i].Naam</td>
                                <td>@Model.productBaseOverzicht[i].Omschrijving</td>
                                <td>@Model.productBaseOverzicht[i].CategorieId</td>
                                <td>@Html.ActionLink("wijzig", "WijzigProduct", new { id = @Model.productBaseOverzicht[i].ProductId }, new { onclick = "return confirm('Weet u zeker dat u dit wilt wijzigen?')" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Aanbiedingen</h3>
            <p>
                Lemon drops chocolate cake cake tiramisu cake dessert. Bonbon jujubes pudding halvah dessert. Dragée danish candy topping sweet roll liquorice. Sesame snaps chocolate bar donut chupa chups chocolate bar chocolate cake. Jujubes sweet pastry sweet roll. Cake marshmallow pie. Cheesecake caramels donut caramels cotton candy cotton candy sweet roll lemon drops candy canes. Brownie dragée sesame snaps chocolate croissant chupa chups jelly-o wafer cake. Tiramisu sweet roll cake liquorice fruitcake. Tootsie roll bear claw tart gummi bears brownie donut jelly cotton candy. Cake marshmallow chocolate bar candy. Croissant sweet roll sugar plum candy candy canes jujubes sesame snaps candy caramels.
                Toffee cookie gingerbread cupcake candy chocolate bar pastry lollipop. Jelly fruitcake marzipan cake pudding dragée caramels. Chocolate tiramisu gummies caramels cake cheesecake tart. Icing toffee halvah apple pie sweet roll macaroon cake. Chocolate gummies sweet roll. Tootsie roll danish oat cake. Chocolate gingerbread icing tart dragée jelly beans carrot cake cake. Powder marzipan donut tiramisu cookie tootsie roll pudding. Biscuit chocolate apple pie carrot cake tiramisu. Cotton candy macaroon cupcake bear claw gummi bears. Dessert chupa chups dessert chocolate cake cotton candy candy jelly beans. Cake tiramisu candy liquorice wafer muffin sweet wafer marshmallow.
            </p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Gebruikers</h3>
            @if (Model != null)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th> <!-- TODO: Belangrijk voor beheerder?-->
                            <th>Email</th>
                            <th>Voornaam</th>
                            <th>Achternaam</th>
                            <th>Telefoonnummer</th>
                            <th>GoldStatus</th>
                            <th>Rol</th>
                            <th>Functies</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.klantOverzicht.Count; i++)
                        {
                            <tr>
                                <td>@Model.klantOverzicht[i].Id</td>
                                <td>@Model.klantOverzicht[i].Email</td>
                                <td>@Model.klantOverzicht[i].Voornaam</td>
                                <td>@Model.klantOverzicht[i].Achternaam</td>
                                <td>@Model.klantOverzicht[i].Telefoonnummer</td>
                                <td>@Model.klantOverzicht[i].GoldStatus</td>
                                <td>@Model.klantOverzicht[i].Rol</td>
                                <td>@Html.ActionLink("wijzig", "WijzigKlant", new { email = @Model.klantOverzicht[i].Email }, new { onclick = "return confirm('Weet u zeker dat u dit wilt wijzigen?')" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Bestellingen</h3>
            <p>Lemon drops chocolate cake cake tiramisu cake dessert. Bonbon jujubes pudding halvah dessert. Dragée danish candy topping sweet roll liquorice. Sesame snaps chocolate bar donut chupa chups chocolate bar chocolate cake. Jujubes sweet pastry sweet roll. Cake marshmallow pie. Cheesecake caramels donut caramels cotton candy cotton candy sweet roll lemon drops candy canes. Brownie dragée sesame snaps chocolate croissant chupa chups jelly-o wafer cake. Tiramisu sweet roll cake liquorice fruitcake. Tootsie roll bear claw tart gummi bears brownie donut jelly cotton candy. Cake marshmallow chocolate bar candy. Croissant sweet roll sugar plum candy candy canes jujubes sesame snaps candy caramels.
Toffee cookie gingerbread cupcake candy chocolate bar pastry lollipop. Jelly fruitcake marzipan cake pudding dragée caramels. Chocolate tiramisu gummies caramels cake cheesecake tart. Icing toffee halvah apple pie sweet roll macaroon cake. Chocolate gummies sweet roll. Tootsie roll danish oat cake. Chocolate gingerbread icing tart dragée jelly beans carrot cake cake. Powder marzipan donut tiramisu cookie tootsie roll pudding. Biscuit chocolate apple pie carrot cake tiramisu. Cotton candy macaroon cupcake bear claw gummi bears. Dessert chupa chups dessert chocolate cake cotton candy candy jelly beans. Cake tiramisu candy liquorice wafer muffin sweet wafer marshmallow.</p>
        </div>
    </div>
</div>