@model CBlokHerkansing.Models.Account.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@ViewBag.Foutmelding != null)
{
    <div class="alert alert-danger text-center">
        <strong>Foutmelding</strong> @ViewBag.Foutmelding
    </div>
}

@using (Html.BeginForm("Login", "Account"))
{
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">Log in om naar uw account toe te gaan</h1>
                <form class="form-signin">
                    @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", @class = "form-control"})
                    @Html.ValidationMessageFor(Model => Model.Email)
                    @Html.TextBoxFor(model => model.PassWord, new { placeholder = "●●●●●●●●●●●", type = "password", @class = "form-control" })
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in <!-- TODO: Groen maken-->
                    </button>
                </form>
                @Html.ActionLink("Maak een account", "Register", "Account", null, new { @class = "text-center new-account" })
            </div>
        </div>
    </div>

}

