@model CBlokHerkansing.ViewModels.Account.ManagerViewModel
@{
    ViewBag.Title = "Manager";
}

<div class="centered-pills">
    <h2>Manager</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Best lopende producten</a></li>
        <li><a data-toggle="tab" href="#menu1">Slechts lopende producten</a></li>
        <li><a data-toggle="tab" href="#menu2">Omzet</a></li>
        <li><a data-toggle="tab" href="#menu3">Winst</a></li>
    </ul>

    <div class="tab-content" style="max-width: 75%; margin: 0 auto;">
        <div id="home" class="tab-pane fade in active">
            <h3>Best lopende producten</h3>
            @if (Model.bestSeller != null)
            {
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Id</th> <!-- TODO: Belangrijk voor beheerder? -->
                            <th>Naam</th>
                            <th>Omschrijving</th>
                            <th>Categorie</th> <!-- TODO: Categorie NAAM niet ID-->
                            <th>Functies</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.bestSeller.Count; i++)
                        {
                            <tr>
                                <td>@Model.bestSeller[i].ProductId</td>
                                <td>@Model.bestSeller[i].Naam</td>
                                <td>@Model.bestSeller[i].Omschrijving</td>
                                <td>@Model.bestSeller[i].CategorieId</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger">Action</button>
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Slechts lopende producten</h3>
            @if (Model.worstSeller != null)
            {
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Id</th> <!-- TODO: Belangrijk voor beheerder? -->
                            <th>Naam</th>
                            <th>Omschrijving</th>
                            <th>Categorie</th> <!-- TODO: Categorie NAAM niet ID-->
                            <th>Functies</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.bestSeller.Count; i++)
                        {
                            <tr>
                                <td>@Model.worstSeller[i].ProductId</td>
                                <td>@Model.worstSeller[i].Naam</td>
                                <td>@Model.worstSeller[i].Omschrijving</td>
                                <td>@Model.worstSeller[i].CategorieId</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger">Action</button>
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Omzet</h3>
            @if (Model.omzet != null)
            {
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Omzet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.omzet ,-</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Winst</h3>
            @if (Model.winst != null)
            {
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Winst</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.winst ,-</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>