@model CBlokHerkansing.ViewModels.Account.KlantViewModel

@{
    ViewBag.Title = "Profiel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@ViewBag.Foutmelding != null)
{
    <div class="alert alert-danger text-center">
        <strong>Foutmelding</strong> @ViewBag.Foutmelding
    </div>
}

@if (ViewBag.Wijziging != null)
{
    <div class="alert alert-success text-center">
        <strong>Success!</strong>  @ViewBag.Wijziging
    </div>
}

<div class="centered-pills">
    <h2>Beheer</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Account Gegevens</a></li>
        <li><a data-toggle="tab" href="#menu1">Adres</a></li>
        <li><a data-toggle="tab" href="#menu2">Bestellingen</a></li>
    </ul>

    <div class="tab-content" style="max-width: 75%; margin: 0 auto;">
        <div id="home" class="tab-pane fade in active">
            <h3>Uw Account Gegevens</h3>
            @if (Model.klantOverzicht != null)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Voornaam</th>
                            <th>Achternaam</th>
                            <th>Telefoonnummer</th>
                            <th>GoldStatus</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>@Model.klantOverzicht.Email</td>
                                <td>@Model.klantOverzicht.Voornaam</td>
                                <td>@Model.klantOverzicht.Achternaam</td>
                                <td>@Model.klantOverzicht.Telefoonnummer</td>
                                <td>@Model.klantOverzicht.GoldStatus</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger">Action</button>
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">@Html.ActionLink("Wijzig", "WijzigKlant", "Klant", new { email = @Model.klantOverzicht.Email }, new { onclick = "return confirm('Weet u zeker dat u dit wilt wijzigen?')" })</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                    </tbody>
                </table>
            }
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Uw adres informatie</h3>
            <h4>U mag maximaal 3 adres gegevens hebben.</h4>
            @if (Model.adresOverzicht != null)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Straat</th>
                            <th>Postcode</th>
                            <th>Huisnummer</th>
                            <th>Huisnummertoevoegsel</th>
                            <th>Stad</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.adresOverzicht.Count; i++)
                        {
                            <tr>
                                <td>@Model.adresOverzicht[i].Straat</td>
                                <td>@Model.adresOverzicht[i].Postcode</td>
                                <td>@Model.adresOverzicht[i].Huisnummer</td>
                                <td>@Model.adresOverzicht[i].HuisnummerToevoegsel</td>
                                <td>@Model.adresOverzicht[i].Stad</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger">Action</button>
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">@Html.ActionLink("Wijzigen", "WijzigAdres", "Klant", new { id = @Model.adresOverzicht[i].Id }, new { onclick = "return confirm('Weet u zeker dat u dit wilt wijzigen?')" })</a></li>
                                            <li><a href="#">@Html.ActionLink("Verwijderen", "VerwijderAdres", "Klant", new { id = @Model.adresOverzicht[i].Id }, new { onclick = "return confirm('Weet u zeker dat u dit wilt verwijderen?')" })</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>@Html.ActionLink("Toevoegen", "ToevoegenAdres", "Klant")</td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                @Html.ActionLink("Toevoegen", "ToevoegenAdres", "Klant", null,  new { @class = "btn btn-lg btn-primary btn-block", style = "float: none" })            
            }
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Uw Bestelling informatie</h3>
            @if (Model.bestellingOverzicht != null)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th> <!-- TODO: Belangrijk voor beheerder?-->
                            <th>Status</th>
                            <th>Tijd</th>
                            <th>Datum</th>
                            <th>Product Naam</th>
                            <th>Product Verkoopprijs</th>
                            <th>Product Maat</th>
                            <th>Adres</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.bestellingOverzicht.Count; i++)
                        {
                            <tr>
                                <td>@Model.bestellingOverzicht[i].Bestelling.BestellingId</td>
                                <td>@Model.bestellingOverzicht[i].Bestelling.BezorgStatus</td>
                                <td>@Model.bestellingOverzicht[i].Bestelling.BezorgTijd</td>
                                <td>@Model.bestellingOverzicht[i].Bestelling.BestelDatum</td>
                                <td>Product Naam</td>
                                <td>@Model.bestellingOverzicht[i].ProductDetail.verkoopprijs</td>
                                <td>@Model.bestellingOverzicht[i].ProductDetail.maat</td>
                                <td>@Model.bestellingOverzicht[i].Bestelling.Adres.Straat</td> <!-- TODO: Volledig adres-->
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>