@model CBlokHerkansing.ViewModels.Account.KlantViewModel

@{
    ViewBag.Title = "Profiel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="centered-pills">
    <h2>Beheer</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Account Gegevens</a></li>
        <li><a data-toggle="tab" href="#menu1">Bestellingen</a></li>
    </ul>

    <div class="tab-content" style="max-width: 75%; margin: 0 auto;">
        <div id="home" class="tab-pane fade in active">
            <h3>Uw Account Gegevens</h3>
            @if (Model != null)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Voornaam</th>
                            <th>Achternaam</th>
                            <th>Telefoonnummer</th>
                            <th>GoldStatus</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>@Model.klantOverzicht.Email</td>
                                <td>@Model.klantOverzicht.Voornaam</td>
                                <td>@Model.klantOverzicht.Achternaam</td>
                                <td>@Model.klantOverzicht.Telefoonnummer</td>
                                <td>@Model.klantOverzicht.GoldStatus</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger">Action</button>
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">@Html.ActionLink("Wijzig", "WijzigKlant", "Klant", new { email = @Model.klantOverzicht.Email }, new { onclick = "return confirm('Weet u zeker dat u dit wilt wijzigen?')" })</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                    </tbody>
                </table>
            }
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Uw Bestelling informatie</h3>
            @if (Model != null)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th> <!-- TODO: Belangrijk voor beheerder?-->
                            <th>Status</th>
                            <th>Tijd</th>
                            <th>Datum</th>
                            <th>Product Naam</th>
                            <th>Product Verkoopprijs</th>
                            <th>Product Kleur</th>
                            <th>Product Maat</th>
                            <th>Adres</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.bestellingOverzicht.Count; i++)
                        {
                            <tr>
                                <td>@Model.bestellingOverzicht[i].Bestelling.BestellingId</td>
                                <td>@Model.bestellingOverzicht[i].Bestelling.BezorgStatus</td>
                                <td>@Model.bestellingOverzicht[i].Bestelling.BezorgTijd</td>
                                <td>@Model.bestellingOverzicht[i].Bestelling.BestelDatum</td>
                                <td>Product Naam</td>
                                <td>@Model.bestellingOverzicht[i].ProductDetail.verkoopprijs</td>
                                <td>@Model.bestellingOverzicht[i].ProductDetail.kleur</td>
                                <td>@Model.bestellingOverzicht[i].ProductDetail.maat</td>
                                <td>@Model.bestellingOverzicht[i].Bestelling.Adres.Straat</td> <!-- TODO: Volledig adres-->
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>