@model CBlokHerkansing.Models.Account.RegistrationModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Register", "Account"))
{
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">Registreer uw account</h1>
                <form class="form-signin">
                    <p>
                        @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", @class = "form-control" })
                        <div style="color: red">
                            @Html.ValidationMessageFor(Model => Model.Email)
                        </div>
                    </p>
                    <p>
                    @Html.TextBoxFor(model => model.Wachtwoord, new { placeholder = "Wachtwoord", type = "password", @class = "form-control" }) 
                        <div style="color: red">
                    @Html.ValidationMessageFor(Model => Model.Wachtwoord)
                            </div>
                    </p>
                    <p>
                    @Html.TextBoxFor(model => model.WachtwoordCheck, new { placeholder = "Wachtwoord", type = "password", @class = "form-control" }) 
                        <div style="color: red">
                            @Html.ValidationMessageFor(Model => Model.WachtwoordCheck)
                            </div>
</p>
                    <p>
                    @Html.TextBoxFor(model => model.Voornaam, new { placeholder = "Voornaam", @class = "form-control" })
                        <div style="color: red">
                            @Html.ValidationMessageFor(Model => Model.Voornaam)
                            </div>
</p>
                    <p>
                    @Html.TextBoxFor(model => model.Achternaam, new { placeholder = "Achternaam", @class = "form-control" }) 
                        <div style="color: red">
                            @Html.ValidationMessageFor(Model => Model.Achternaam)
                            </div>
</p>
                    <p>
                    @Html.TextBoxFor(model => model.Telefoonnummer, new { placeholder = "Telefoonnummer", @class = "form-control" }) 
                        <div style="color: red">
                            @Html.ValidationMessageFor(Model => Model.Telefoonnummer)
                            </div>
</p>
                    
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Registreer <!-- TODO: Groen maken-->
                    </button>
                </form>
            </div>
        </div>
    </div>
}
