@model CBlokHerkansing.Models.Product.ProductBase
@{
    ViewBag.Title = "ToevoegenProduct";
}
@{
    List<Object> list = new List<Object>();
    foreach (CBlokHerkansing.Models.Categorie item in ViewBag.Categorieen)
{
    list.Add(new { value = item.Id, text = item.Naam });
}
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h2>ToevoegenProduct</h2></div>
    <div class="col-md-4"></div>

</div>
<div class="row">
    <div class="col-md-4"></div>
<div class="col-md-4">
    @using (Html.BeginForm("ToevoegenProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-control" }))
    {

            <!--Naam van een product-->
        @Html.TextBoxFor(model => model.Naam, new { placeholder = "Naam van het product", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Naam)
            <!--Omschrijving van het product-->
        @Html.TextAreaFor(model => model.Omschrijving, new { placeholder = "omschrijving van het product", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Omschrijving)
        @Html.DropDownListFor(model => model.CategorieId, new SelectList(
                  list,
                  "value",
                  "text",
                   2))
            <!--Afbeeldingen toevoegen-->
        <input type="file" name="File" id="File" style="width: 100%" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Voeg product toe
        </button>
    
    }
    </div>
    <div class="col-md-4"></div>
</div>
