<!--<div class="jumbotron">
    <div class="container text-center">
        <h1>Online Winkel</h1>
        <p>De dierenzaak voor u</p>
    </div>
</div>-->
<div id="banner">
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive horizontalAlign" src="~/Content/images/Logo.png" alt="" style="max-height: 300px; padding-left: 43%">
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid" style="max-width: 1200px; margin: 0 auto;"> <!-- TODO: put in Site.css appropiatly-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">@Html.ActionLink("Pebble-Ton", "Index", "Home", null, new {@class = "navbar-brand"})</a>
        </div>
   
        <div class="collapse navbar-collapse" id="myNavbar">
            <div class="form-group col-md-4">
                @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                {
                    @Html.TextBox("search", null, new { @class = "form-control" })
                    @Html.DropDownList("type", new SelectList(
                  new List<Object>{
                       new { value = 0 , text = "Naam"  },
                       new { value = 1 , text = "Categorie" },
                    },
                  "value",
                  "text",
                   2))
                    <button type="submit" class="btn btn-default">Submit</button>
                }
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Aanbiedingen</a></li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User != null)
                    {
                        if (User.IsInRole("ADMIN"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Beheer", "Beheer", "Account")</li>
                                    <li>@Html.ActionLink("Uitloggen", "Logout", "Account")</li>
                                </ul>
                            </li>
                        }
                        else if (User.IsInRole("MANAGER"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Manager", "Manager", "Account")</li>
                                    <li>@Html.ActionLink("Uitloggen", "Logout", "Account")</li>
                                </ul>
                            </li>
                        }
                        else if (User.IsInRole("KLANT"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Profiel", "Profiel", "Account")</li>
                                    <li>@Html.ActionLink("Uitloggen", "Logout", "Account")</li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li><a href="/Account/Login"><span class="glyphicon glyphicon-user"></span>Login</a></li>
                        }
                    }
                    else
                    {
                        <li><a href="/Account/Login"><span class="glyphicon glyphicon-user"></span>Login</a></li>
                    }

                    <li><a href="/Winkelwagen/Winkelwagen"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
                </ul>
            </div>
    </div>
</nav>
